@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #e95a08;
  --secondary-color: rgba(0, 0, 0, 0.5);
}

h1 {
  font-family: "Noto Serif", serif;
}
p {
  color: var(--secondary-color);
}

body {
  font-family: "Inter", sans-serif;
  background: rgb(245, 248, 255);
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.primary-color {
  color: var(--primary-color);
}
.primary-bg {
  background-color: var(--primary-color);
}

.lover-plants li {
  color: var(--secondary-color);
}

.badge {
  transform: translate(50%, -50%);
  animation: spin 6s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(50%, -50%) rotate(360deg);
  }
}

/* footer  section*/
.footer .logo {
  grid-area: logo;
}
.footer .menu {
  grid-area: menu;
}
.footer .policy {
  grid-area: policy;
}
.footer .icon {
  grid-area: icon;
}
@media screen and (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-areas:
      "logo logo logo logo"
      "menu policy policy policy"
      "icon icon icon icon";
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    display: grid;
    grid-template-areas: "logo menu policy icon ";
    grid-template-columns: 1.2fr 1fr 1fr 1fr;
  }

  .footer .menu {
    justify-self: center;
  }

  .footer .icon {
    justify-self: end;
  }
}
